h1 {
    text-align: center;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 5px;
}

h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 10px;
}

.repositories {
    position: relative;
    width: 75%;
    float: left;
    box-sizing: border-box;
    min-height: 10px;
    padding: 0 10px;
}

.repositories-empty {
    text-align: center;
    color: #586069;
    margin-top: 20px;
}

.filters {
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
}
