<div class="name">
    <a class="name-link" target="_blank" [href]="repository.html_url">
        {{repository.owner.login}} / <span class="name-link_strong">{{repository.name}}</span>
    </a>
</div>

<div class="description">
    {{repository.description}}
</div>

<div class="footer">
  <span class="footer-item" *ngIf="repository.language">
    {{repository.language}}
  </span>

    <span class="footer-item">
    <gh-svg-icon class="gray-icon" [src]="starIcon"></gh-svg-icon>
    {{repository.stargazers_count}}
  </span>

    <span class="footer-item">
    <gh-svg-icon class="gray-icon" [src]="forkIcon"></gh-svg-icon>
    {{repository.forks_count}}
  </span>

    <span class="footer-item">
    Created {{repository.created_at | date}}
  </span>
</div>
